:root {
	--sony-logo-bar-height: 36px;
	--navbar-height: 68px;
	--header-height: calc(var(--sony-logo-bar-height) + var(--navbar-height));
	--light-blue-color: #0072ce;
	--blue-color: #2d64e6;
	--dark-blue-color: #00439c;
	--indigo-color: #161c3b;
	--gray-color: #bebcbb;
}

h1 {
	font-size: 46px;
	line-height: 1.4;
}

.text-light-blue {
	color: var(--light-blue-color);
}

.text-blue {
	color: var(--blue-color);
}

.bg-gray {
	background-color: var(--gray-color);
}

.bg-indigo {
	background-color: var(--indigo-color);
}

.bg-dark-blue {
	background-color: var(--dark-blue-color);
}

.rounded-10 {
	border-radius: 1rem;
}

.btn-orange {
	color: white;
	background-color: #cd3d0f;
}

.dropdown-chevron::after {
	content: url(../img/chevron-down-solid.svg);
	display: inline-block;
	line-height: 1rem;
	width: .5rem;
	margin-left: .3rem;
}

.dropdown-chevron:hover:after {
	content: url(../img/chevron-down-solid-hover.svg);
}

.show.dropdown-chevron::after {
	transform: rotate(180deg) translateY(-25%);
}

.nav_list {
	list-style-type: disc;
	list-style-position: inside;
}

.nav_list li::marker {
	color: var(--blue-color);
}

.nav_list a {
	margin-left: -5px;
	margin-right: 20px;
	color: black;
	text-decoration: none;
}

.nav_ico:hover {
	background-color: white;
	box-shadow: 0 0 5px gray;
}

/* Header */

header .bar_sony_logo {
	height: var(--sony-logo-bar-height);
}

header .sony_logo {
	height: calc(var(--sony-logo-bar-height) / 3);
}



/* header .navbar {
	height: var(--navbar-height);
} */

/* Main */

main {
	padding-top: var(--header-height);
}


.jumbotron {
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .row {
	min-height: 587px;
}

.hero-banner-logo {
	width: 60%;
}

.returnal_jumbotron {
	background-image: url(../img/jumbo-bg.png);
}

.itTakesTwo_jumbotron {
	background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.slide_thumb {
	border: 3px solid transparent;
	transition: margin .6s;
}
.slide_selected {
	border: 3px solid var(--light-blue-color);
}

.slide_thumb>img {
	border: 3px solid transparent;
}

.slide_thumb:hover {
	margin-top: -15px;
}

.thumb {
	border-bottom: 2px solid transparent;
}

.thumb:hover, .thumb_selected {
	cursor: pointer;
	border-bottom: 2px solid var(--blue-color);
}

@media screen and (min-width: 576px) {
	
	#socialMedia .row{
		max-width: 560px;
	}
	
	#socialMedia img {
		max-width: 120px;
	}
}

/* Footer */

footer .globe-icon {
	height: 1rem;
}

.sie_logo {
	height: 60px;
}