:root {
	--sony-logo-bar-height: 36px;
	--navbar-height: 68px;
	--header-height: calc(var(--sony-logo-bar-height) + var(--navbar-height));
	--light-blue-color: #0072ce;
	--blue-color: #2d64e6;
	--dark-blue-color: #00439c;
	--indigo-color: #161c3b;
	--gray-color: #bebcbb;
	--light-gray: #d9dadc;
	--gray-text: #757575;
	--orange-color: #cd3d0f;
	--bg-botn: transparent;
}

h1 {
	font-size: 46px;
	line-height: 1.4;
}

.text-light-blue {
	color: var(--light-blue-color);
}

.text-gray {
	color: var(--gray-color);
}

.text-blue {
	color: var(--blue-color);
}

.subtitle {
	color: var(--gray-text);
}

.subtitle,
.fw-500 {
	font-weight: 500;
}

.bg-gray {
	background-color: var(--gray-color);
}

.bg-indigo {
	background-color: var(--indigo-color);
}

.bg-dark-blue {
	background-color: var(--dark-blue-color);
}

.rounded-10 {
	border-radius: 1rem;
}

/* Buttons */

.botn {
	--text-color: white;
	--border-size: 2px;
	display: inline-block;
	background-color: var(--bg-botn);
	text-decoration: none;
	color: var(--text-color);
	padding: .5rem 1rem;
	border-radius: 100px;
	position: relative;
	/* border: var(--border-size) solid transparent; */
}

.botn:hover {
	color: var(--text-color);
}

.botn:hover::after {
	content: '';
	display: block;
	position: absolute;
	top: calc(var(--border-size) * -2);
	left: calc(var(--border-size) * -2);
	height: calc(100% + (4 * var(--border-size)));
	width: calc(100% + (4 * var(--border-size)));
	border: var(--border-size) solid var(--bg-botn);
	border-radius: 100px;
}

.botn-black {
	--bg-botn: black;
}

.botn-orange {
	--bg-botn: var(--orange-color);
}

.botn-blue {
	--bg-botn: var(--light-blue-color);
}

.botn-light-gray {
	--bg-botn: var(--light-gray);
	--text-color: var(--light-blue-color)
}

.botn-white {
	--bg-botn: white;
	--text-color: black;
}

.dropdown-chevron::after {
	content: url(../img/chevron-down-solid.svg);
	display: inline-block;
	line-height: 1rem;
	width: .5rem;
	margin-left: .3rem;
}

.dropdown-chevron:hover:after {
	content: url(../img/chevron-down-solid-hover.svg);
}

.show.dropdown-chevron::after {
	transform: rotate(180deg) translateY(-25%);
}

.nav_list {
	list-style-type: disc;
	list-style-position: inside;
}

.nav_list li::marker {
	color: var(--blue-color);
}

.nav_list a {
	margin-left: -5px;
	margin-right: 20px;
	color: black;
	text-decoration: none;
}

.nav_ico:hover {
	background-color: white;
	box-shadow: 0 0 5px gray;
}

/* Header */

header .bar_sony_logo {
	height: var(--sony-logo-bar-height);
}

header .sony_logo {
	height: calc(var(--sony-logo-bar-height) / 3);
}


/* header .navbar {
	height: var(--navbar-height);
} */

/* Main */

main {
	padding-top: var(--header-height);
}


.jumbotron {
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .row {
	min-height: 587px;
}

.hero-banner-logo {
	width: 60%;
}

.returnal_jumbotron {
	background-image: url(../img/jumbo-bg.png);
}

.itTakesTwo_jumbotron {
	background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.slide_thumb {
	border: 3px solid transparent;
	transition: margin .6s;
}

.slide_selected {
	border: 3px solid var(--light-blue-color);
}

.slide_thumb>img {
	border: 3px solid transparent;
}

.slide_thumb:hover {
	margin-top: -15px;
}

.thumb {
	opacity: .75;
}

.thumb .thumb_card {
	border-bottom: 2px solid transparent;
}

.thumb:hover, .thumb_selected {
	cursor: pointer;
	opacity: 1;
}

.thumb:hover .thumb_card, .thumb_selected .thumb_card {
	border-bottom: 2px solid var(--blue-color);
}

@media screen and (min-width: 576px) {
	
	#socialMedia .row{
		max-width: 560px;
	}
	
	#socialMedia img {
		max-width: 120px;
	}
}

/* Footer */

footer .globe-icon {
	height: 1rem;
}

.sie_logo {
	height: 60px;
}