/* COMMON */

:root { /* Variables */
	--sony-logo-bar-height: 36px; /* Sizes */
	--navbar-height: 68px;
	--header-height: calc(var(--sony-logo-bar-height) + var(--navbar-height));
	
	--light-blue-color: #0072ce; /* Colors */
	--blue-color: #2d64e6;
	--dark-blue-color: #00439c;
	--indigo-color: #161c3b;
	--gray-color: #bebcbb;
	--light-gray: #d9dadc;
	--gray-text: #757575;
	--orange-color: #cd3d0f;
	--bg-botn: transparent;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 32px;
}

.subtitle {
	color: var(--gray-text);
	font-size: 20px;
	line-height: 1.2;
}

.registred {
	font-size: .5em;
	vertical-align: super;
}

/* Framework ovverride/integration */

.text-light-blue {
	color: var(--light-blue-color);
}

.text-gray {
	color: var(--gray-color);
}

.text-blue {
	color: var(--blue-color);
}

.bg-gray {
	background-color: var(--gray-color);
}

.bg-indigo {
	background-color: var(--indigo-color);
}

.bg-dark-blue {
	background-color: var(--dark-blue-color);
}

.rounded-10 {
	border-radius: 1rem;
}

/* Buttons */

.botn {
	--border-size: 2px;
	border-radius: 100px;
	padding: .5em 1em;
	
	--text-color: white;
	color: var(--text-color);
	text-decoration: none;
	
	display: inline-block;
	position: relative;
	
	background-color: var(--bg-botn);
}

.botn:hover {
	color: var(--text-color);
}

.botn::after {
	content: '';
	display: block;
	height: calc(100% + (4 * var(--border-size)));
	width: calc(100% + (4 * var(--border-size)));
	
	position: absolute;
	top: calc(var(--border-size) * -2);
	left: calc(var(--border-size) * -2);
	
	border: var(--border-size) solid transparent;
	border-radius: 100px;
	
	transition: transform .1s;
	transform: scale(.9);
}

.botn:hover::after {
	border-color: var(--bg-botn);
	
	transform: scale(1);
}

.botn-black {
	--bg-botn: black;
}

.botn-orange {
	--bg-botn: var(--orange-color);
}

.botn-blue {
	--bg-botn: var(--blue-color);
}

.botn-light-gray {
	--bg-botn: var(--light-gray);
	--text-color: var(--blue-color);
}

.botn-white {
	--bg-botn: white;
	--text-color: black;
}

.dropdown-chevron::after {
	content: url(../img/chevron-down-solid.svg);
	display: inline-block;
	
	width: .5rem;
	line-height: 1rem;
	margin-left: .5rem;
}

.dropdown-chevron:hover:after {
	content: url(../img/chevron-down-solid-hover.svg);
}

.show.dropdown-chevron::after {
	transform: rotate(180deg);
}

/* Header */

header .bar_sony_logo {
	height: var(--sony-logo-bar-height);
}

header .sony_logo {
	height: calc(var(--sony-logo-bar-height) / 3);
}

#topNavbar .nav-link {
	color: black; 
	font-weight: 600;
}

#topNavbar .nav-link:hover {
	color: var(--light-blue-color);
}

.nav_list {
	list-style-type: disc;
	list-style-position: inside;
}

.nav_list li::marker {
	color: var(--blue-color);
}

.nav_list a {
	margin-left: -5px;
	margin-right: 20px;
	color: black;
	text-decoration: none;
}

.nav_ico:hover {
	background-color: white;
	box-shadow: 0 0 5px gray;
}

/* Main */

main {
	padding-top: var(--header-height);
}

/* Jumbotrons */

.jumbotron {
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .row {
	min-height: 600px;
}

.hero-banner-logo {
	width: 60%;
}

.jumbotron h2 {
	font-size: 40px;
}

/* Jumbotron backgrounds */
#returnal_jumbotron {
	background-image: url(../img/jumbo-bg.png);
}

#itTakesTwo_jumbotron {
	background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}


/* Mock slide show */
.slide_thumb {
	border: 3px solid transparent;
	transition: margin .6s;
}

.slide_thumb:hover {
	cursor: pointer;
	margin-top: -15px;
}

.slide_selected {
	border: 3px solid var(--light-blue-color);
}

.slide_thumb>img {
	border: 3px solid transparent;
}

/* Thumbnails */
.thumb {
	opacity: .75;
}

.thumb .thumb_card {
	border-bottom: 2px solid transparent;
}

.thumb:hover, .thumb_selected {
	cursor: pointer;
	opacity: 1;
}

.thumb:hover .thumb_card,
.thumb_selected .thumb_card {
	border-bottom: 2px solid var(--blue-color);
}

.new-releases-thumb {
	transition: transform .2s;
}

.new-releases-thumb:hover {
	cursor: pointer;
	transform: scale(1.03);
}

/* Section heading images */
.title-logo {
	width: 60%;
}

/* Social media section */
@media screen and (min-width: 576px) {
	
	#socialMedia .row{
		max-width: 560px;
	}
	
	#socialMedia img {
		max-width: 120px;
	}
}

/* Footer */

.ps-logo-footer {
	height: 78px;
}

footer .globe-icon {
	height: 1.4rem;
}

.sie_logo {
	height: 50px;
}

footer p.copyright {
	font-size: 13px;
	font-weight: 600;
}

@media screen and (min-width: 768px) {
	footer p.copyright {
		font-size: 14px;
	}
}