:root {
	--sony-logo-bar-height: 36px;
	--navbar-height: 64px;
	--header-height: calc(var(--sony-logo-bar-height) + var(--navbar-height));
}

.btn_buy {
	color: white;
	background-color: #cd3d0f;
}

/* Header */

header .bar_sony_logo {
	height: var(--sony-logo-bar-height);
}

header .sony_logo {
	height: calc(var(--sony-logo-bar-height) / 3);
}

header .navbar {
	height: var(--navbar-height);
}

/* Main */

main {
	padding-top: var(--header-height);
}


.jumbotron {
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .row {
	min-height: 550px;
}

.hero-banner-logo {
	width: 55%;
}

.first_jumbotron {
	background-image: url(../img/jumbo-bg.png);
}