:root {
	--sony-logo-bar-height: 36px;
	--navbar-height: 64px;
	--header-height: calc(var(--sony-logo-bar-height) + var(--navbar-height));
	--light-blue-color: #0072ce;
	--blue-color: #2d64e6;
	--gray-color:
}

.text-light-blue {
	color: var(--light-blue-color);
}

.text-blue {
	color: var(--blue-color);
}

.rounded-10 {
	border-radius: 1rem;
}

.btn_buy {
	color: white;
	background-color: #cd3d0f;
}

/* Header */

header .bar_sony_logo {
	height: var(--sony-logo-bar-height);
}

header .sony_logo {
	height: calc(var(--sony-logo-bar-height) / 3);
}

header .navbar {
	height: var(--navbar-height);
}

/* Main */

main {
	padding-top: var(--header-height);
}


.jumbotron {
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .row {
	height: 587px;
}

.hero-banner-logo {
	width: 55%;
}

.returnal_jumbotron {
	background-image: url(../img/jumbo-bg.png);
}

.slide_selected {
	border: 3px solid var(--light-blue-color);
}

.slide>img {
	border: 3px solid transparent;
}